
.links ul{
    margin: 10px 0;
    max-width: 300px;
}
.links ul li{
    margin: 5px 0;
    padding: 10px 7px;
    max-width: 275px;
}
.links ul li:hover{
    background-color: rgba(2, 54, 65, 0.108);
    border-radius: 5px;
    transition: all 0.4s;
}